Classification:
1- Folders name : Biases; Darks; Flats; Lights
2- Biases exposure time (1/x s) : 8000
3- Flats exposure value (EV) : 10
4- File numeration difference : 5
5- Frame orientation : Horizontal (normal)

Temporary files:
6- Max size (Ko) : 5
7- Age limit (day) : 30

Others:
8- Overwrite screen time (ms) : 100