# Name for the created folders
1- Folders name : Biases; Darks; Flats; Lights

# mettre les limites de taille et/ou de date maximal pour les fichiers temporaires
2- Max size (Ko) : 20
3- Age limit (day) : 90

# mettre le temps pour l'affichage sur une même ligne (le sleep 0.005)
4- Screen time (ms) : 100